<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body class="mainpage-body">
    <div class="main-wrapper">
      <div>
        <h1>Hello there !</h1>
      </div>
      <div class="lottie-anim">
        <lottie-player
          src="https://assets3.lottiefiles.com/packages/lf20_FYx0Ph.json"
          background="transparent"
          speed="1"
          style="width: 340px; height: 340px"
          loop
          autoplay
        ></lottie-player>
      </div>
      <div class="main-content">
        <h3>Thanks for visiting</h3>
        <p>This project <span style="font-weight: bold;">(built using JWT (JSON WEB TOKEN)) </span>is a part of HackAlphaX Coding Olympics.</p>
        <p>4 days, 4 challenges</p>
        <p>
          Loads of exciting activities going on all 4 days. Sieze the event and
          get to win exciting prizes
        </p>
        <h3>Let's Learn Together, Grow Together</h3>

        <a href="/logout"><button class="btn" style="margin-top: 3rem;">LOGOUT</button></a>
      </div>
    </div>
  </body>
</html>